@using NexusUserTest.Common.DTOs

@if (GroupInfo != null)
{
    <h1>@GroupInfo.Title</h1>
    <div class="row">
        <div class="col-10">
            <div class="card">
                <div class="card-header">
                    Пользователи
                </div>
                <div class="card-body">
                    <NexusTableGrid @ref="NexusTable" TItem="GroupUserDTO" Data="GroupInfo.User" SelectionMode="SelectMode">
                        <Columns>
                            <NexusTableGridColumn Title="#">
                                <CellTemplate>
                                    @(GroupInfo.User.IndexOf(context) + 1)
                                </CellTemplate>
                            </NexusTableGridColumn>
                            <NexusTableGridColumn Title="ФИО" Property="u => u.User.FullName" />
                            <NexusTableGridColumn Title="Логин" Property="u => u.User.Login" />
                            <NexusTableGridColumn Title="Организация" Property="u => u.User.Organization" />
                            <NexusTableGridColumn Title="Статус" Property="g => g.Status">
                                <CellTemplate>
                                    <select class="form-select border border-black" value="@context.Status" @onchange="@((arg) => ChangeStatus(context, arg))">
                                        <option value="1">Недопущен</option>
                                        <option value="2">Допущен</option>
                                        <option value="3" disabled>Провалил</option>
                                        <option value="4" disabled>Сдал</option>
                                    </select>
                                </CellTemplate>
                            </NexusTableGridColumn>
                        </Columns>
                    </NexusTableGrid>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header">
                    Результаты
                </div>
                <div class="card-body">
                    <NexusTableGrid @ref="NexusTable" TItem="GroupUserDTO" Data="GroupInfo.User" SelectionMode="SelectMode">
                        <Columns>
                            <NexusTableGridColumn Title="#">
                                <CellTemplate>
                                    @(GroupInfo.User.IndexOf(context) + 1)
                                </CellTemplate>
                            </NexusTableGridColumn>
                            <NexusTableGridColumn Title="ФИО" Property="u => u.User.FullName" />
                            <NexusTableGridColumn Title="Логин" Property="u => u.User.Login" />
                            <NexusTableGridColumn Title="Организация" Property="u => u.User.Organization" />
                            <NexusTableGridColumn Title="Статус" Property="g => g.Status">
                                <CellTemplate>
                                    <select class="form-select border border-black" value="@context.Status" @onchange="@((arg) => ChangeStatus(context, arg))">
                                        <option value="1">Недопущен</option>
                                        <option value="2">Допущен</option>
                                        <option value="3" disabled>Провалил</option>
                                        <option value="4" disabled>Сдал</option>
                                    </select>
                                </CellTemplate>
                            </NexusTableGridColumn>
                        </Columns>
                    </NexusTableGrid>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-header">
                    Настройки
                </div>
                <div class="card-body">
                    <div>
                        <label class="form-label">Кол-во вопросов: @GroupInfo.Setting.CountOfQuestion</label>
                        <input type="range" class="form-range" @bind-value="@GroupInfo.Setting.CountOfQuestion" min="0" max="@GroupInfo.CountOfQuestions" step="1">
                    </div>
                    <div class="mt-1">
                        <label class="form-label">Часы</label>
                        <select class="form-select border border-black" @bind="hour" @bind:after="ChangeTimer">
                            @for (int i = 0; i <= 5; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="mt-1">
                        <label class="form-label">Минуты</label>
                        <select class="form-select border border-black" @bind="minute" @bind:after="ChangeTimer">
                            @for (int i = 0; i <= 59; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn" @onclick="SubmitSetting">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
}