@using NexusUserTest.Common
@if (Data != null && TopicSelects != null)
{
    <div class="card h-100">
        <div class="card-header">
            @(Data.Id == 0 ? "Добавить" : "Изменить") вопрос
        </div>
        <div class="card-body">
            <EditForm EditContext="editContext">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label class="form-label">@GetDisplayName(nameof(Data.Title))</label>
                    <NexusTextBox @bind-Value="Data.Title" NexusValueExpression="@(() => Data.Title)" Placeholder="Введите название" />
                    <ValidationMessage For="@(() => Data.Title)" class="invalid-feedback" />
                </div>
                <div class="form-group pt-1">
                    <div class="card">
                        <div class="card-header">
                            Ответы
                        </div>
                        <div class="card-body">
                            <NexusTableGrid @ref="NexusTable" TItem="AnswerAdminDTO" Data="Data.AnswerItems" SelectionMode="SelectMode"
                                            EditMode="EditMode" ShowEmptyMessage="true" EmptyMessage="Нет ответов">
                                <ToolTemplate>
                                    <NexusGroupButton>
                                        <NexusButton Title="Добавить" OnClick="AddAnwser" CssClass="btn-primary" IconClass="bi bi-plus-lg" />
                                        @if (Data.Id != 0)
                                        {
                                            <NexusButton Title="Изменить" OnClick="EditAnwser" CssClass="btn-warning" IconClass="bi bi-pencil-fill" Disable="IsSelected" />
                                        }
                                        <NexusButton Title="Удалить" OnClick="RemoveAnwser" CssClass="btn-danger" IconClass="bi bi-trash3-fill" />
                                    </NexusGroupButton>
                                </ToolTemplate>
                                <Columns>
                                    <NexusTableGridColumn Title="#">
                                        <CellTemplate Context="answer">
                                            @(Data.AnswerItems.IndexOf(answer) + 1)
                                        </CellTemplate>
                                    </NexusTableGridColumn>
                                    <NexusTableGridColumn Title="Название" Property="a => a.Title">
                                        <EditTemplate Context="answer">
                                            <input class="form-control border border-black" type="text" @bind="answer.Title" />
                                        </EditTemplate>
                                    </NexusTableGridColumn>
                                    <NexusTableGridColumn Title="Ответ" Property="a => a.IsCorrect">
                                        <EditTemplate Context="answer">
                                            <input class="form-check-input border border-black" type="checkbox" @bind="answer.IsCorrect" />
                                        </EditTemplate>
                                    </NexusTableGridColumn>
                                </Columns>
                            </NexusTableGrid>
                        </div>
                    </div>
                </div>
                <div class="form-group pt-1">
                    <div class="card">
                        <div class="card-header">
                            Темы
                        </div>
                        <div class="card-body">
                            @foreach (var item in TopicSelects)
                            {
                                <div class="form-check form-check-inline" @onclick="() => CheckboxChange(item.Value)">
                                    <input class="form-check-input" type="checkbox" checked="@(Data.TopicQuestionItems!.Any(x => x.TopicId == item.Value) ? true : false)">
                                    <label class="form-check-label">
                                        @item.Text
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-end gap-1">
                <button class="btn btn-light border" @onclick="Cancel">Отмена</button>
                <button class="btn btn-light border" @onclick="Save">@(Data.Id == 0 ? "Сохранить" : "Изменить")</button>
            </div>
        </div>
    </div>
}