@page "/user"
@layout UserLayout

<PageTitle>Страница пользователя</PageTitle>

<LoadDataView TItem="UserInfoTestDTO" Data="UserInfo" />

@if (UserInfo != null && UserInfo.Success)
{
    <div class="d-flex justify-content-between">
        <h4>Пользователь - @UserInfo.Data!.FullName</h4>
        <button class="btn btn-outline-secondary" @onclick="Logout">Выход</button>
    </div>

    <div class="card mt-2">
        <div class="card-header">
            Список тестов
        </div>
        <div class="card-body p-2">
            <div class="d-flex flex-row">
                @if (UserInfo.Data!.GroupUsers != null && UserInfo.Data!.GroupUsers.Count != 0)
                {
                    foreach (var group in UserInfo.Data!.GroupUsers)
                    {
                        if (group.Status == 2)
                        {
                            <div class="card">
                                <div class="card-body p-2 text-center">
                                    <h5 class="card-title display-6">@group.GroupTitle</h5>
                                </div>
                                <div class="card-footer p-1 text-center">
                                    <button class="btn btn-primary" @onclick="() => OpenTest(group.Id)" disabled="@(group.Status == 1)">Начать тест</button>
                                </div>
                            </div>
                        }
                        else if (group.Status == 1)
                        {
                            <div class="card">
                                <div class="card-body p-2 text-center">
                                    <h5 class="card-title display-6">@group.GroupTitle</h5>
                                    <h4>Нет допуска к тесту</h4>
                                </div>
                            </div>
                        }
                        else
                        {
                            <h1>Нет тестов для прохождения</h1>
                        }
                    }
                }
                else
                {
                    <h1>Вы не состоит ни к одной из существующих групп</h1>
                }
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-header">
            Результаты
        </div>
        <div class="card-body">
            @if (UserInfo.Data.GroupUsers != null && UserInfo.Data.GroupUsers.Any(r => r.Results!.Count > 0 && r.Status != 2))
            {
                <NexusTableGrid TItem="GroupUserInfoTestDTO" Data="@UserInfo.Data.GroupUsers.Where(u => u.Status != 2).ToList()">
                    <Columns>
                        <NexusTableGridColumn Title="#">
                            <CellTemplate>
                                @(UserInfo.Data.GroupUsers.IndexOf(context) + 1)
                            </CellTemplate>
                        </NexusTableGridColumn>
                        <NexusTableGridColumn Title="Наименование" Property="gu => gu.GroupTitle" />
                        <NexusTableGridColumn Title="Кол-во вопросов">
                            <CellTemplate>
                                @(context.Results!.Count)
                            </CellTemplate>
                        </NexusTableGridColumn>
                        <NexusTableGridColumn Title="Кол-во пр. ответов">
                            <CellTemplate>
                                @(context.Results!.Count(r => r.IsCorrect))
                            </CellTemplate>
                        </NexusTableGridColumn>
                        <NexusTableGridColumn Title="% пр. ответов">
                            <CellTemplate>
                                @((context.Results!.Count(r => r.IsCorrect) * 100) / context.Results.Count)
                            </CellTemplate>
                        </NexusTableGridColumn>
                    </Columns>
                </NexusTableGrid>
            }
            else
            {
                <h1>Нет результатов</h1>
            }
        </div>
    </div>
}
